<p-card class="cart-total-card p-shadow-4" *ngIf="cartItems().length">
    <ng-template pTemplate="header">
        <span class="text-primary fw-bold">Cart Total</span>
    </ng-template>

    <ng-template pTemplate="content">
        <div class="cart-summary-grid">

            <div class="summary-row">
                <span>Subtotal:</span>
                <span class="text-end">{{ subTotal() | currency }}</span>
            </div>

            <div class="summary-row">
                <span>Delivery:</span>
                <span class="text-end">
          <ng-container *ngIf="deliveryFee(); else freeDelivery">
            {{ deliveryFee() | currency }}
          </ng-container>
          <ng-template #freeDelivery>
            <span style="color: red;">Free</span>
          </ng-template>
        </span>
            </div>

            <div class="summary-row">
                <span>Estimated Tax:</span>
                <span class="text-end">{{ tax() | currency }}</span>
            </div>

            <div class="summary-row total">
                <strong>Total:</strong>
                <strong class="text-end">{{ totalPrice() | currency }}</strong>
            </div>

        </div>
    </ng-template>
</p-card>
