<!--<div class="p-4">-->
<!--    <h2>Order Tracking Map</h2>-->

<!--    <div class="grid">-->
<!--        <div class="col-12 md:col-8">-->
<!--            <app-order-tracking-map-->
<!--                [shipment]="selectedShipment"-->
<!--                [height]="'500px'"-->
<!--                [showRoute]="true"-->
<!--                [showEvents]="true">-->
<!--            </app-order-tracking-map>-->
<!--        </div>-->

<!--        <div class="col-12 md:col-4">-->
<!--            &lt;!&ndash; Shipment details component &ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
