<p-card class="cart-item-card">
    <ng-template pTemplate="content">
        <div class="cart-item-row">

            <div class="item-image">
                <img [ngSrc]="cartItem.product.imageUrl" [alt]="cartItem.product.title" fill>
            </div>

            <!-- Product Title -->
            <div class="item-title">
                {{ cartItem.product.title }}
<!--                <div class="item-category">{{ cartItem.product.category }}</div>-->
            </div>

            <!-- Price -->
            <div class="item-price">
                <span class="price-label">Unit Price:</span>
                {{ cartItem.product.price | currency }}
            </div>

            <!-- Quantity Selector -->
            <div class="item-quantity">
                <p-dropdown
                    [options]="qtyArr()"
                    [(ngModel)]="cartItem.quantity"
                    (onChange)="onQuantitySelected($event.value)"
                    placeholder="Qty">
                </p-dropdown>

                @if (availableStock() > 0) {
                    <span class="stock-info">
    {{ availableStock() }} more available
  </span>
                }
                @if (availableStock() === 0) {
                    <span class="stock-info warning">
    No more in stock
  </span>
                }
            </div>

            <div class="item-extended-price">
                <span class="price-label">Total:</span>
                <span class="total-price">{{ exPrice() | currency }}</span>
            </div>

            <div class="item-actions">
                <button pButton type="button" icon="pi pi-trash" label="Remove" class="p-button-danger"
                        (click)="removeFromCart()">
                </button>
            </div>

        </div>
    </ng-template>
</p-card>
