<div class="message-input-container">
    <div class="p-inputgroup">
        <input
            type="text"
            pInputText
            [(ngModel)]="messageText"
            (keyup.enter)="send()"
            (input)="onTyping()"
            placeholder="Type a message..."
        >
        <p-fileUpload
            mode="basic"
            chooseIcon="pi pi-paperclip"
            [auto]="false"
            [multiple]="true"
            accept="image/*,video/*,.pdf,.doc,.docx"
            (onSelect)="onFileSelect($event)"
            #fileUpload>
        </p-fileUpload>
        <button
            pButton
            pRipple
            type="button"
            icon="pi pi-send"
            class="p-button-primary"
            (click)="send()"
            [disabled]="!messageText && selectedFiles.length === 0">
        </button>
    </div>

    <div class="selected-files" *ngIf="selectedFiles.length > 0">
        <div class="file-chip" *ngFor="let file of selectedFiles; let i = index">
            <span>{{ file.name }}</span>
            <i class="pi pi-times" (click)="removeFile(i)"></i>
        </div>
    </div>
</div>
