<div class="grid p-3">
    <!-- Left Column: Product List -->
    <div class="col-12 md:col-4">
        <p-card>
            <ng-template pTemplate="header">
                <h4 class="m-0">{{ pageTitle }}</h4>
            </ng-template>

            <ng-template pTemplate="content">
                <p-listbox
                    [options]="products()"
                    optionLabel="title"
                    optionValue="id"
                    [multiple]="false"
                    [(ngModel)]="selectedProductId"
                    (onChange)="onSelected($event.value)">
                </p-listbox>
            </ng-template>
        </p-card>

        <!-- Error Message -->
        <p-message
            *ngIf="errorMessage()"
            severity="error"
            text="{{ errorMessage() }}"
            class="mt-2">
        </p-message>
    </div>

    <!-- Right Column: Product Detail -->
    <div class="col-12 md:col-8">
        <app-product-detail *ngIf="selectedProductId"></app-product-detail>
    </div>
</div>
